.nav
    padding 40px 16px 24px
    max-width 225px
    margin: 0 auto

    +below( 4 )
        height 100%
        overflow scroll
        size( auto 100vh )
        fixed top 0 left -100%
        background-color $matte-bg
        box-shadow 1px 0 4px #d7d7d6
        transition left 0.15s ease-in-out

        .logged-in &
            padding-top 85px

    .sidebar:focus &, .navigation-open &

        +below( 4 )
            left 0

    .home &
        size( auto )
        overflow hidden
        max-width 300px
        box-shadow none
        text-align center
        relative top left
        background-color transparent

        .logged-in&, &
            padding-top 0

        +below( 4 )
            max-width none
    
