a, .lnk
    color $link-color
    text-decoration none
    
    &:hover, &:focus, &:active
        color $link-hover-color
    
    h1 &, h2 &, h3 &, h4 &, h5 &, h6 &
        color inherit 
        
        &:hover, &:focus, &:active
            color $primary
