global-reset()
normalize-css()
html, body
    font normal normal normal $font-size-base/$line-height-base $font-family-base
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    background-color $matte-bg
    font-smooth always
    color $text-color
    padding 0
    margin 0

*
    box-sizing border-box

.main
    center()
    size( 100% )
    overflow hidden


h1, h2, h3, h4, h5, h6
    font-family $headings-font-family
    color $fourth

h1, h2, h3, h5
    font-weight 600

h1
    font-size emify( 72px )
    letter-spacing emify( 0.72px )

    +below( 4 )
        font-size emify( 40px )
        letter-spacing emify( 0.40px )

h2
    font-size emify( 56px )
    letter-spacing emify( 0.56px )

    +below( 4 )
        font-size emify( 40px )
        letter-spacing emify( 0.40px )

h3
    font-size emify( 48px )
    letter-spacing emify( 0.48px )

    +below( 4 )
        font-size emify( 40px )
        letter-spacing emify( 0.40px )

h4
    font-weight 500
    font-size emify( 40px )
    letter-spacing emify( 0.4px )

    +below( 4 )
        font-size emify( 30px )
        letter-spacing emify( 0.3px )

h5
    font-size emify( 24px )
    letter-spacing emify( 0.24px )

    +below( 4 )
        font-size emify( 15px )
        letter-spacing emify( 0.15px )

h6
    font-weight 700
    font-size emify( 15px )
    letter-spacing emify( 0.15px )

p, li, td, tr, input, label, textarea, select, blockquote
    letter-spacing emify( 0.16px )
    font-size emify( 16px )

p, li, blockquote
    margin 0 0 16px

.text

    &-center
        text-align center
    
    &-left
        text-align left
    
    &-right
        text-align right
    
    &-uppercase
        text-transform uppercase
    
    &-capitalize
        text-transform capitalize
    
    &-lowercase
        text-transform lowercase
    
    &-underline
        text-decoration underline
    
.block

    &-center
        text-align center
        display block
        margin 0 auto
    
    &-left
        margin 0 auto 0 0
        text-align left
        display block
    
    &-right
        margin 0 0 0 auto
        text-align right
        display block

.sr-only
    text-indent 1000em
    absolute top left
    overflow hidden
    size( 0 )