global-reset()
normalize-css()
html, body
    font normal normal normal $font-size-base/$line-height-base $font-family-base
    -webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
    background $matte-color
    font-smooth always
    color $text-color
    padding 0
    margin 0
*
    box-sizing border-box

.main
    center()


.text

    &-center
        text-align center
    
    &-left
        text-align left
    
    &-right
        text-align right
    
    &-uppercase
        text-transform uppercase
    
    &-capitalize
        text-transform capitalize
    
    &-underline
        text-decoration underline
    
.block

    &-center
        text-align center
        display block
        margin 0 auto
    
    &-left
        margin 0 auto 0 0
        text-align left
        display block
    
    &-right
        margin 0 0 0 auto
        text-align right
        display block