emify( size, base = $em-base, measure = 'em' )
  su = unit(size)
  bu = unit(base)

  if (su is 'px')
    return unit(size/base, measure)
  else
    return unit(size, su)

font-awesome( $size = 1em )
  return $font = normal normal normal $size/1 'FontAwesome'
