rupture.scale = 0 479px 599px 767px 991px 1199px
$matte = 1440px
$page = 1200px
$jeet = {
  gutter: 0,
  max-width: 1440px,
  layout-direction: LTR,
  parent-first: false
}
$jsidebar = 540/$jeet[ 'max-width' ]
$jcontent = ( $jeet[ 'max-width'] - 540 )/$jeet[ 'max-width' ]

$font-family-serif = 'Oswald', tahoma, sans-serif 
$font-family-sans-serif = 'Roboto', helvetica, sans-serif 
$font-family-base = $font-family-sans-serif
$headings-font-family = $font-family-serif
$font-family-display = 'Josefin Sans', tahoma, 'trebuchet ms', sans-serif

$typography-base = 16
$font-size-base = unit( $typography-base, 'px' )
$em-base = $font-size-base
$line-height-base = ( $typography-base + 8 ) / $typography-base
$font-size-large = $font-size-base + 2
$font-size-small = $font-size-base - 2
$letter-spacing-base = unit( $typography-base / 7, 'px')

$font-weight-100 = 100
$font-weight-200 = 200
$font-weight-300 = 300
$font-weight-400 = 400
$font-weight-500 = 500
$font-weight-600 = 600
$font-weight-700 = 700
$font-weight-800 = 800
$font-weight-900 = 900

$border-radius-base = unit( $typography-base - 10, 'px')
$border-radius-small = $border-radius-base - 1
$border-radius-large = $border-radius-base + 2

$padding-base-vertical = unit( $typography-base - 8, 'px' )
$padding-base-horizontal = unit( $padding-base-vertical * 2, 'px' )

$input-height-base = 42px
$input-border-radius = $border-radius-base

$btn-font-weight = $font-weight-600
$btn-border-radius-base = $border-radius-small - 1
$btn-letter-spacing = $letter-spacing-base
