.content
    max-width 736px

    .home &
        padding 76px 16px 60px

        +between( 1025px, 5 )
            max-width 572px
            margin 0 auto

        +between( rupture.scale[ 4 ] + 1, 1024px )
            max-width 500px
            margin 0 auto

       +below( 4 )
            padding 48px 32px

    .page &
        padding 60px 16px 72px

        +below( 4 )
            padding 16px 16px 32px

        h2
            @extend h5
            margin 0 0 24px
            color $text-color