.marquee
    max-width 736px

    &-title
        letter-spacing emify( 0.4px )
        font-size emify( 40px )
        color $text-color
        margin 0 0 24px
        line-height 1.6

        +below( 4 )
            font-size emify( 24px )
            line-height $line-height-base
            letter-spacing emify( 0.24px )

    .list-pipe
        color $fourth
        font-size emify( 20px )
        letter-spacing emify( 0.2px )

        +below( 4 )
            font-size emify( 18px )
            letter-spacing emify( 0.18px )

        > li
            display inline
            padding 0

            &:after
                padding 0 0 0 5px

    .page &
        padding 0 16px