.article

  .page &
    padding-top: 60px
    +grid-column( 9, $neat )

    +breakpoint( max-width nth( $scale, 5 ) )
      padding-top: 0
      +stack()

  .home &
    padding-top: 0
    +grid-column( 7, $neat )

    +breakpoint( nth( $scale, 5 ) + 1 )
      +grid-column( 8, $neat )

    +breakpoint( max-width nth( $scale, 4 ) )
      +stack()
