.article

  .page &
    +grid-column( 9, $neat )
    padding-top: 60px

    +breakpoint( max-width nth( $scale, 5 ) )
      +stack()
      width: 100%
      padding-top: 0

  .home &
    padding-top: 0

    +breakpoint( nth( $scale, 5 ) + 1 )
      +push( 345px )

    +breakpoint( nth( $scale, 6 ) + 1 )
      +push( 451px )
