.nav
    padding: 40px 16px 24px
    max-width: 225px
    margin: 0

    .sidebar:focus &, .navigation-open &

      +breakpoint( max-width nth( $scale, 5 ) )
        left: 0

    .page &

      +breakpoint( nth( $scale, 5 ) + 1 )
        padding-top: 12px

      +breakpoint( max-width nth( $scale, 5 ) )
        height: 100%
        overflow: scroll
        +size( auto 100vh )
        background-color: $matte-bg
        box-shadow: 1px 0 4px #d7d7d6
        @transition( left 0.15s ease-in-out )
        +position( fixed, 0 null null -100% )

        .logged-in &
          padding-top: 85px

      .logged-in

        +breakpoint( max-width nth( $scale, 5 ) )
          padding-top: 52px

    .home &
      margin: 0 auto
      max-width: 540px
      background-color: $index-bg

      +breakpoint( nth( $scale, 3 ) + 1 )
        max-width: 300px

      +breakpoint( nth( $scale, 6 ) + 1 )
        max-width: 450px

      +breakpoint( nth( $scale, 4 ) + 1 )
        height: 100%
        padding: 144px 16px 60px
        +size( 100% 100vh )
        +position( fixed, null null null null )

      .logged-in#{&}
        padding: 0
