.home

    .logo

        +below( 4 )
            text-align center

            > a
                @extend .block-center
                display block
                size( 206px )

    .title
        @extend h4 
        margin 0 0 21px

        > a
            color inherit 

            &:hover, &:focus, &:active
                color inherit
    
    .tag-line
        @extend h5
        margin 0 0 56px
        @extend .text-uppercase

        +below( 4 )
            margin 0 0 28px

    .section
        clearfix()

        &-title
            font-size emify( 14px, base: 18px )
            letter-spacing emify( 1.17px )
            @extend .text-uppercase
            font-weight 700
            margin-bottom 0
            color $primary
            margin-top 6px

            +above( rupture.scale[ 4 ] + 1 )
                column( 75/( 1440 - 540 ), $gutter: floor( ( 32/( 1440 - 540 ) ) * 100 ) )
            
            +below( 4 )
                font-size emify( 12px )
                margin 0 0 16px
    
    .list-pages

        +above( rupture.scale[ 4 ] + 1 )
            column( ( ( 1440 - 540 ) - 75 )/( 1440 - 540 ), $gutter: floor( ( 32/( 1440 - 540 ) ) * 100 ) )
    
    .page
        margin 0 0 40px

        &-title
            @extend h5
            margin 0 0 16px
            color $text-color

            > a
                color inherit

                &:hover, &:focus, &:active
                    color $primary